extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre Nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet impedit veritatis beatae maxime fuga vitae doloribus? Porro obcaecati sunt facilis. Rerum deserunt esse dolor commodi, fuga eum ipsam quia iusto!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi assumenda quo corrupti aspernatur? Eligendi blanditiis veritatis omnis amet provident obcaecati dolorem beatae adipisci est! Voluptatum, ex. Inventore omnis enim repellat.

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt rem animi voluptatum dolores iste, quod aspernatur veniam vitae praesentium illo cupiditate cum excepturi reprehenderit nisi, libero ipsum eveniet ad nam!. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus neque vel temporibus error labore esse beatae obcaecati odio non a assumenda, nulla ab modi fuga facilis, reprehenderit maiores? Officia, nesciunt.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quo sint obcaecati rem enim debitis ab voluptatem, quaerat minus, inventore aliquam pariatur temporibus ullam aperiam quos tempora voluptate iusto assumenda?

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, corporis? Earum libero sit id temporibus natus reiciendis quos deserunt non recusandae nemo                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, corporis? Earum libero sit id temporibus natus reiciendis quos deserunt non recusandae nemo                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, corporis? Earum libero sit id temporibus natus reiciendis quos deserunt non recusandae nemo                
